.book.font-family-1 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.book-summary ul.summary li.divider,
.book-summary ul.summary li:not(.chapter) {
  display: none;
}

.book-header .fa-facebook,
.book-header .fa-twitter,
.book-header .fa-font,
.book-header .toggle-dropdown,
.book-header h1 {
  display: none;
}

